<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mastercard.labs.mpqrpayment">

    <application
            android:name=".MainApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.SplashActivity"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".payment.PaymentActivity"
                android:label="@string/title_activity_payment"
                android:parentActivityName=".activity.MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.mastercard.labs.mpqrpayment.activity.MainActivity"/>
        </activity>
        <activity
                android:name=".receipt.ReceiptActivity"
                android:label="@string/title_activity_receipt"
                android:parentActivityName=".activity.MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.mastercard.labs.mpqrpayment.activity.MainActivity"/>
        </activity>
        <activity
                android:name=".login.LoginActivity"
                android:label="@string/title_activity_login"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
                android:name=".activity.CustomizedPPCaptureActivity"
                android:screenOrientation="portrait"
                android:theme="@style/CustomizeScanTheme" />
    </application>

</manifest>